[Desktop Entry]
Version=0.1.0
Type=Application
Name=MakerHub
Exec=/usr/bin/makerhub_gui.py
Icon=/usr/share/makerhub/images/makerhub.png
Terminal=false
Categories=Accessories;Qt;
Comment=Software and information suite for Pi Supply products
